@charset "UTF-8";

/* CSS Document */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;

}

nav {
	background: linear-gradient(to right, #9892DC,#1D48E0);
	margin: -10px -10px 3% -10px;
	padding: 1% !important;
	min-width: 100%;
	min-height: 5%;

}


h1 {
	font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

/*NAV BAR IN HOME PAGE & INNER PAGES */

ul {
	list-style-type: none;
	margin: 0 0 0 8%;
	padding: 0 0 0.5% 0;
	position: relative;
	top: -50px;
}

li {
	float: left;
}

li a {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase;
	display: inline;
	color: white;
	text-align: center;
	padding: 20px;
	border: 2px solid #FFFFFF;
	border-radius: 20px;
	margin-left: 30px;

	text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #03BC7E;
	color: aquamarine;
}

.headerTable-adjustment {

	width: 40%;
	margin-left: 10%;
	
}


.repGenNav{

	margin: auto;
	width: 65%;
	padding: 10px;
	margin-top:70px;
	margin-left: 350px;
}

.container{
	width: 80%;
	position: inherit;
	background-color: white;
	border-radius: 25px;
	padding: 20px;
	margin-left: 8%;
	margin-top: 2%;
}


.grid-container {
	width: 80%;
	background-color: white;
	border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
	align-items: center;
	margin-left: 150px;
	
}

/*Table on HOME PAGE */ 

.TableStyle {
	background-color: white;
	text-align: center;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
	color: black;
	font-weight: 400;
	margin: auto; 
	float: center;
	border-radius: 25px;
}
.TableStyle table, th, td {
border-bottom: 0.5px solid #939393; 
border-spacing: 0;
padding: 1% 1% 1.5% 1%;
}
.TableStyle tr:nth-child(even) {
	background-color: lightgrey;
}

.TableStyle td:nth-child(8) {
	color: blue;
}
.TableStyle td:nth-of-type(7) {
	color: red;
}


