<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a757repsys">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.757RepSys">
        <activity android:name=".UpdateProfilePage"></activity>
        <activity android:name=".ChangePasswordPage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".MainMenu2" />
        <activity android:name=".MainMenu1" />
        <activity android:name=".ForgetPasswordPage" />
        <activity android:name=".TermsAndConditionsPage" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".LoadingScreen" />
        <activity android:name=".CompanyLogoScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>